doctype html
html
    head
        title Jade Playground
    body
        h1 Hi Everyone
        p(class='myP', id='myPID') This is a paragraph, as well!
    
        div.myDiv.my2ndiv#mydivID

        #myDivID



        