extends ../layouts/layout.pug
include ../includes/mixins.pug

block headContent
        title Jade Playground
block bodyContent

        h1 My title
        p(class='myP', id='myPID') This is a paragraph, as well!

        form(action='', method='POST')

            +formText('firstName', 'First Name:')

            +formText('lastName', 'Last Name:')

            label(for='myList') Occupation:
            select(id='myList', name='myList')
                option(value='Designer') Designer
                option(value='Coder') Coder

            input(type='button', value='Submit')        